.button-handler {
  padding-bottom: 15px;
}

.logo {
  padding: 20px 10px;
  height: auto;
  margin: auto;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  background: #001529;
}

.site-layout .site-layout-background {
  background: #fff;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.warning {
  background: #ffb300;
  border: 1px solid #ffb300;
}

.warning:hover, .warning:focus {
  color: #fff;
  border-color: #ffb300;
  background: #fcc034;
  border: 1px solid #fcc034;
}
